.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: dimgrey;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.links-section {
  margin-top: 10px;
}

.list-group {
  list-style-type: none;
  padding: 0;
}

.list-group-item, list-group-company {
  margin-bottom: 15px;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #bfbfbf;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item:hover {
  background-color: #e0e0e0;
}

.list-group-item a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.list-group-item a:hover {
  color: #0056b3;
}

.list-group-item.expanded .arrow {
  transform: rotate(90deg); /* Rotates right arrow down */
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.social-links-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-links-row {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;

  &:hover {
    background-color: #bfbfbf;
    transform: translateY(-2px);
  }

  i {
    font-size: 1.5rem;
  }

  .link-text {
    font-size: 1rem;
    display: none;
  }
}

.toggle-container {
  margin: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 12px; /* space between switch and text */
}

.switch {
  position: relative;
  display: flex;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.mode {
  min-width: 145px;
  margin-top: 0;
  font-size: 16px;
  white-space: nowrap;
  line-height: 1;
}

.description {
  white-space: pre-line
}

.company-title {
  font-size: large;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .social-links-row {
    gap: 1rem;
  }

  .social-link {
    padding: 0.5rem;

    .link-text {
      display: none;
    }
  }
}
